{{ define "main" }}
  {{ .Content }}
  {{ if gt ( len ( where .Site.RegularPages "Section" "posts" )) 0 }}
    <h2>Recent Posts</h2>
    {{ range first 3 ( where .Site.RegularPages "Section" "posts" ) }}
      <article class="all-list">
        <div class="title-list">
          <h3><a href="{{ .RelPermalink }}">{{ if .Draft }}<i>(Draft)</i> {{ end }}{{ .Title }}</a></h3>
          <div class="title-list-date">
            {{ if eq .Date.IsZero false }}
              <time>{{ .Date.Format "Monday, January 2, 2006" }}</time>
            {{ end }}
            {{ if (and (eq .Lastmod.IsZero false) (ne .Lastmod .Date)) }}
              (updated)
            {{ end }}
          </div>
        </div>
        <div class="body-list">
          <p></p> {{/* Spacing is weird if we don't include this */}}
          <p>
            <!-- use only the first paragraph i.e. until the first \n -->
            {{ .Summary | strings.ReplaceRE "(.)\n.*" "$2" | plainify  }}
          </p>
          {{ if .Truncated }}
            <a href="{{ .RelPermalink }}">Read More…</a>
          {{ end }}
        </div>
      </article>
    {{ end }}
  {{ end }}
{{ end }}
